<script>
  export default {
    data () {
      return {
        clipped: true,
        drawer: true,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Introdução', to: '/' },
          { icon: 'bubble_chart', title: 'Fundos imobiliários', to: '/fundos' }
        ],
        miniVariant: true,
        right: true,
        rightDrawer: false,
        title: 'Fundos imobiliários',
        budgetLocal: localStorage.getItem('atual_budget') || 10000,
        actualMonthLocal: 'Mar/2021',
        meta1: localStorage.getItem('meta1') || 'R$ 15.000,00 (Fácil)',
        meta2: localStorage.getItem('meta2') || 'R$ 30.000,00 (Médio)',
        meta3: localStorage.getItem('meta3') || 'R$ 100.000,00 (Difícil)'
      }
    },
    mounted () {
      const ctx = this
      setInterval(() => {
        if (localStorage.getItem('atual_budget')) {
          ctx.budgetLocal = localStorage.getItem('atual_budget')
          ctx.meta1 = localStorage.getItem('meta1') || 'R$ 15.000,00 (Fácil)'
          ctx.meta2 = localStorage.getItem('meta2') || 'R$ 30.000,00 (Médio)'
          ctx.meta3 = localStorage.getItem('meta3') || 'R$ 100.000,00 (Difícil)'
        }
      }, 100)
    },
    methods: {
      clear () {
        localStorage.clear()
        window.location.reload()
      }
    }
  }
</script>

<template lang="pug">
  v-app(dark)
    v-navigation-drawer(
      :mini-variant.sync='miniVariant' 
      :clipped='clipped' 
      v-model='drawer' 
      fixed 
      app
    )
      v-list
        v-list-tile(
          router 
          :to='item.to' 
          :key='i' 
          v-for='(item, i) in items' exact
        )
          v-list-tile-action
            v-icon(v-html='item.icon')
          v-list-tile-content
            v-list-tile-title(v-text='item.title')
    v-toolbar(fixed app :clipped-left='clipped')
      v-toolbar-side-icon(@click='drawer = !drawer')
      v-btn(icon @click.stop='miniVariant = !miniVariant')
        v-icon(v-html="miniVariant ? 'chevron_right' : 'chevron_left'")
      
      v-toolbar-title(v-text="'Budget: ' + parseFloat(budgetLocal).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) + ` - Meta 1: ${meta1} | Meta 2: ${meta2} | Meta 3: ${meta3}`")
      v-spacer
      v-btn( color="error" @click.stop='clear')
        | Reset game!
        
    v-content
      v-container(fluid)
        nuxt.
          
</template>